@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

/* ------Variables------ */

:root {
  /* text colors */
  --text-gray: #808290;
  --text-white: #f7f9fa;
  --text-light: #f5f6f6;
  --text-dark: #0a3260;
  --text-dark1: #1a3760d4;
  --text-red: #ff3d6d;
  --box-shadow: -1px 0px 50px 0px rgb(0 0 0 / 10%);
  --bg-blue: rgb(248, 243, 255);
  --bg-red: rgb(253, 247, 252);
  --bg-yellow: rgb(254, 255, 246);
  --bg-purple: rgb(245, 255, 255);

  /* font familiy */
  --font-poppins: "Poppins", sans-serif;

  /* gradient colors */
  --bg-gradient: linear-gradient(to right, #ff511f, #dd2476);
  --bg-gradient-indigo: linear-gradient(to right, #7e2de2, #4a00e0);
  --bg-gradient-peach: linear-gradient(to right, #fff6f3, #fff7f3);

  /* images */
  --bg-cover: url("../assets/bgimg1.png");
  --bg-image0: url("../assets/img1.png");
  --bg-image1: url("../assets/img2.png");
  --bg-image2: url("../assets/img3.png");
}
