#nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 1.5rem;
  background-color: var(--text-light);
}

#nav .collapse {
  max-height: 0;
  overflow-y: hidden;
  padding-top: 3rem;
  transition: max-height 0.5s ease;
}

#nav .collapse ul {
  flex-direction: column;
  text-align: center;
  top: 2rem;
  padding: 0 3rem;
}

#nav .collapse ul > li {
  padding: 0 1.5rem;
  line-height: 2.5rem;
  font-size: 1.1em;
}

.toggle-btn > button {
  font-size: 2em;
  position: absolute;
  right: 0;
  top: 1rem;
  padding: 1rem 1.5rem;
  color: var(--text-dark1);
}

.flex-initial ul button {
  display: none;
}
.active {
  max-height: 50vh !important;
}

